{% extends "auth/base.html" %}

{% block title %}Register - Job Tracker{% endblock %}
{% block auth_heading %}Create your account{% endblock %}
{% block auth_description %}Start tracking your job search today{% endblock %}

{% block auth_fields %}
  {{ super() }}
  {{ field(form.password, "At least 8 characters") }}
  {{ field(form.confirm, "Confirm your password") }}
{% endblock %}

{% block auth_footer %}
  Already have an account? <a href="{{ url_for('auth.login') }}">Login</a>
{% endblock %}
